.roseal-pill-toggle {
    background-color: var(--RS_PILL-BACKGROUND-COLOR) !important;
    height: auto !important;
    display: flex !important;
    width: fit-content;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 24px;

    .pill-item {
        flex: 1;

        .pill-input {
            display: none;
        }

        .pill-label {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: center;
            float: left;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 20px;
            min-width: 36px;
            font-size: 14px;
            line-height: 20px;
            padding: 4px 6px !important;
            color: var(--RS_SECONDARY-TEXT-COLOR) !important;
            height: auto !important;
            font-weight: bold;

            &.checked-label {
                color: var(--RS_PRIMARY-TEXT-COLOR) !important;
                background: var(--RS_PRIMARY-BACKGROUND-COLOR) !important;
            }
        }
    }
}
