@use "../components/itemLists.scss";

span.icon-roseal-hidden-label::after {
    background: purple;
    content: var(--data-roseal-hidden-label-content);
    padding: 3px;
    font-size: 12px;
    margin-left: 2px;
    border-top-right-radius: 5px;
    font-weight: 500;
    position: relative;
    bottom: 1px;

    @media (max-width: 543px) {
        bottom: 4px;
    }

    .light-theme & {
        color: white;
    }
}

.modal-body:has(.bodycolors-list-v2) {
    .hex-color-input-section {
        display: none;
    }
}

.bodycolors-list-v2 {
    margin-bottom: 5px;

    .body-color-input {
        display: flex;
        gap: 3px;
        align-items: center;

        .roseal-color-input {
            transition: all 0.2s ease;
            height: 72px;
            width: 72px;
            border-radius: 100%;
            border-color: transparent;
            cursor: pointer;

            #advanced-body-colors & {
                width: 30px;
                height: 30px;
            }

            &:hover {
                box-shadow: 0 1px 6px 0 rgba(25, 25, 25, 0.75);
            }
        }
    }
    .or-text {
        margin-bottom: 3px;
        text-align: center;
    }

    .bodycolors-list-v2-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-direction: column;

        .roseal-color-input {
            border-color: revert;
            border-width: 2px;
        }
    }
}

[data-rosealfe-advancedavatarcustomization] {
    .redraw-avatar {
        display: flex;
        align-items: center;

        > a {
            margin-left: auto;
        }

        .text-link:not(.ng-binding):not([style]) {
            display: none;
        }
    }
}

.advanced-customization-modal {
    .thumbnail-navigation-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
        align-items: center;
        margin-bottom: 10px;

        .thumbnail-preview-container {
            margin-bottom: 10px;
            .enable-three-dee {
                position: relative;
                bottom: 38px;
                left: 3px;
                padding: 9px;
                font-size: 16px;
                line-height: 100%;
            }

            &,
            .thumbnail-preview,
            canvas {
                width: 350px !important;
                border-radius: 8px;

                height: 200px !important;

                /*
                @media (min-height: 767px) {
                    height: 225px !important;
                }
*/
                @media (min-height: 1000px) {
                    height: 300px !important;
                }
                @media (min-height: 1400px) {
                    height: 350px !important;
                }
            }

            &.thumbnail-2d-preview-container,
            .thumbnail-preview {
                width: 200px !important;
                /*
                @media (min-height: 767px) {
                    width: 225px !important;
                }*/

                @media (min-height: 1000px) {
                    width: 300px !important;
                }
                @media (min-height: 1400px) {
                    width: 350px !important;
                }
            }

            &.cut-out {
                position: relative;

                .thumbnail-preview {
                    display: inline-block;
                    overflow: hidden;

                    img {
                        display: block;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -50%;
                        left: -50%;
                        width: 200%;
                        height: 200%;
                        background: radial-gradient(circle closest-side, transparent 50%, rgba(0, 0, 0, 0.5) 50%);
                        z-index: 1;
                    }
                }
            }
        }
        .thumbnail-navigation {
            padding-bottom: 4px;
            display: flex;
            justify-content: center;
            gap: 5px;
            @media (min-height: 1400px) {
                gap: 10px;
            }

            .avatar {
                opacity: 0.3;
                cursor: pointer;
                transition: opacity 0.2s ease;
                @media (min-height: 1000px) {
                    width: 40px;
                    height: 40px;
                }
                @media (min-height: 1400px) {
                    width: 44px;
                    height: 44px;
                }
                .dark-theme & {
                    background: #d0d0d0;
                }

                .light-theme & {
                    background: #888888;
                }

                &.selected {
                    opacity: 1;
                }
            }
        }
    }

    .thumbnail-2d-container {
        background-color: revert !important;
    }

    .assets-lookup {
        width: 275px;
        float: left;
        .search-results-dropdown-menu {
            max-height: 400px;
        }

        &:after,
        &:before {
            content: "" !important;
        }

        .input-field {
            border-radius: 8px !important;
        }

        .thumbnail-2d-container[class*="icon"] {
            position: revert;
        }
        .search-result-format {
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .search-result-icon,
        .thumbnail-2d-container {
            width: 60px;
            height: 60px;
            border-radius: 8px;
        }
    }

    .page-container.max-size {
        height: 443px;
    }

    .avatar-limits {
        float: right;
        display: flex;
        gap: 5px;
        align-items: center;
        height: 37.99px;

        .item-limit-container {
            .item-icon {
                &,
                .roseal-icon {
                    width: 16px;
                    height: 16px;
                }
            }
            .item-limit {
                display: flex;
                align-items: center;
                gap: 2px;
                justify-content: center;
            }
        }
    }

    .assets-list-container {
        height: 100%;

        .assets-list-empty {
            padding-top: 10%;
            text-align: center;
        }
        .assets-list {
            max-height: 400px;
            margin-top: 5px;
            overflow: auto;
            clear: both;

            .asset-details-container {
                padding: 3px;

                .asset-actions {
                    margin-left: auto;
                    margin-right: 5px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    > button {
                        border-radius: 8px;

                        &,
                        .roseal-icon {
                            width: 28px;
                            height: 28px;
                        }
                        .roseal-icon {
                            color: var(--RS_ICON-COLOR);
                        }
                        &:hover {
                            .dark-theme & {
                                background-color: hsla(0, 0%, 100%, 0.1);
                            }

                            .light-theme & {
                                background-color: rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }

                .asset-thumbnail,
                .thumbnail-2d-container {
                    width: 85px;
                    height: 85px;
                }
            }
        }
    }

    .configuration-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .section-label {
            display: flex;
            align-items: center;
            .title-label {
                display: flex;
                gap: 2px;
            }
            .more-info-btn {
                width: 16px;
                height: 16px;
            }

            .value-label,
            .value-input {
                margin-left: auto;
                margin-right: 5px;
            }

            .value-input {
                height: 29px;
                width: 80px;
            }
        }
    }

    .refinement-asset-configuration-container {
        padding-left: 5px;
        padding-right: 5px;

        .refinement-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .refinement-reset {
                cursor: pointer;
            }
        }

        .refinement-asset-configuration {
            height: 167.7px;
            .xyz-coords-fields {
                width: 100%;
            }
        }
    }

    .thumbnail-customization {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;

        .error-message {
            margin-top: 10px;
        }

        .bottom-configurations-container {
            flex-direction: column;
            align-items: center;
            height: 100%;
            .config-section {
                width: 100%;
            }
        }

        .emote-configuration-container {
            height: 91.6px;
            width: fit-content;
            max-width: 500px;

            .emote-configuration {
                margin-top: 5px;
            }
        }

        .asset-details-container {
            padding-top: 5px;
        }
        .customization-enabled {
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    .asset-configuration-container,
    .thumbnail-customization {
        padding: {
            left: 6px;
            right: 6px;
            bottom: 20px;
        }
    }
    .asset-configuration-container {
        .asset-configuration {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;
        }

        .layered-asset-configuration {
            .config-section {
                flex-basis: calc(50% - 20px);
            }
        }
    }

    .asset-details-container {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left: 5px;

        .remove-item-btn {
            margin-left: calc(auto + 3px);
        }

        .asset-thumbnail,
        .thumbnail-2d-container {
            width: 64px;
            height: 64px;
            border-radius: 8px;
        }
    }

    .modal-title {
        display: flex;
        align-items: center;

        .back-arrow {
            margin-right: auto;
            flex-shrink: 0;
            cursor: pointer;
        }

        .page-name {
            flex-basis: 100%;
        }
    }

    .nav-links-container {
        height: 32px;
        margin-bottom: 5px;
    }

    .nav-links {
        justify-content: center;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 10px;

        .rbx-tab-heading {
            width: fit-content;
            line-height: normal;
            padding: {
                left: 0;
                right: 0;
                top: 0;
            }
        }
    }
}

#advanced-customization-btn {
    display: flex;
    margin: {
        left: auto;
        top: 30px;
    }
}

#UserAvatar {
    transition: filter 0.3s ease;
    body:has(.advanced-customization-modal) & {
        filter: blur(15px);
    }
}

[data-rosealfe-imageresolutionoverride] {
    .page-content {
        thumbnail-2d,
        .thumbnail-2d-container {
            height: 100%;
            width: 100%;
        }
    }
}

[data-rosealfe-avataritemlists] {
    #avatar-web-app[data-has-item-lists] #horizontal-tabs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%/7), 1fr));
        margin: 0;

        &::before {
            display: none;
        }

        .rbx-tab {
            width: auto;
        }
    }
}

.edit-item-lists-btn {
    float: right;
}

.edit-item-lists-modal {
    .item-lists-layout {
        display: flex;
        flex-direction: column;
        gap: 2px;
        max-height: 700px;

        padding: {
            top: 6px;
            bottom: 6px;
        }

        .item {
            cursor: pointer;

            &.is-dragging {
                opacity: 0.3;
            }

            &.is-drop-target {
                opacity: 0.7;
            }

            .item-list-item {
                display: flex;
                gap: 3px;
            }
        }

        .drop-placeholder {
            width: 100%;
            margin: {
                // 1/2 of flex gap (6/2) + 1/2 of height (2/2) for top and bottom
                bottom: -2px;
                top: -2px;
            }

            .drop-placeholder-item {
                height: 2px;
                .dark-theme & {
                    background: lightblue;
                }

                .light-theme & {
                    background: blue;
                }
            }
        }

        .group-items-container {
            padding-left: 16px;

            .drop-placeholder {
                margin: {
                    // 1/2 of height (2/2) for top and bottom
                    bottom: -1px;
                    top: -1px;
                    left: 3px;
                }
            }
        }
    }
}

.edit-item-list-popup {
    padding: 6px;

    .list-btns-container {
        display: flex;
        padding-top: 6px;
        gap: 10px;
        justify-content: end;

        &.has-delete-btn {
            justify-content: center;
        }
    }
}

.roseal-search-filters {
    display: flex;
    margin-bottom: 5px;

    &.half-width {
        width: 75%;
    }

    .roseal-filters-container {
        margin-bottom: 0;
    }

    .keyword-filter {
        height: 32px;

        .keyword-filter-input {
            border-radius: 8px !important;
            height: 32px;
        }

        .input-addon-btn {
            height: 32px;
        }
    }
}

[data-rosealfe-avatareditorsearch] {
    #avatar-web-app {
        input.form-control.input-field[type="text"]:not(.roseal-search-filters input) {
            display: none;
        }
    }
}

#post-avatar-btn-container,
#post-avatar-btn:not(.has-error) {
    margin-top: 30px;
    float: left;
}

.post-avatar-modal {
    .post-avatar-data {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .input-field {
            margin-top: 2px;
        }
    }
}

#currently-wearing-items {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-top: 10px;
    max-height: 435px;

    .list-item {
        padding: 0;
        cursor: pointer;

        .item-card-caption {
            padding: 0;
        }

        &,
        .item-card-container,
        .item-card-thumb-container,
        .item-card-thumb,
        .item-card-equipped {
            width: 67px;
            min-width: 67px;
            max-width: 67px;

            height: 67px;
            min-height: 67px;
            max-height: 67px;
        }

        .icon-check-selection {
            margin: 0;
        }
    }
}

[data-rosealfe-avatareditorcurrentlywearing] {
    .left-wrapper,
    .left-wrapper-placeholder {
        min-height: 600px;
        height: fit-content;
    }
}
